.ant-carousel .slick-dots li button {
  background: #ffffff;
  opacity: 0.6;
  /* width: 6px;
  height: 6px; */
  /* border-radius: 100%; */
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #ffffff;
  /* width: 7px;
  height: 7px; */
  /* border-radius: 100%; */
}

.ant-carousel .slick-next {
  opacity: 0.6;
  color: #ffffff;
}

.ant-carousel .slick-next:hover {
  opacity: 1;
  color: #ffffff;
}

.ant-carousel .slick-prev {
  opacity: 0.6;
  color: #ffffff;
}

.ant-carousel .slick-prev:hover {
  opacity: 1;
  color: #ffffff;
}
