.ant-carousel .slick-dots {
  display: none !important;
}

.ant-carousel .slick-dots li button {
  background: #ffffff;
  opacity: 0.6;
  /* width: 6px;
  height: 6px; */
  /* border-radius: 100%; */
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #ffffff;
  /* width: 7px;
  height: 7px; */
  /* border-radius: 100%; */
}

.ant-carousel .slick-next {
  opacity: 1;
  color: #ffffff;
  font-size: 18px;
  background-color: transparent;
  z-index: 2;
  display: flex !important;
  align-items: center;
  justify-content: center;
  line-height: 1;
  top: 50% !important;
  transform: translateY(-50%);
}

.ant-carousel .slick-next:before {
  font-size: 18px;
  line-height: 1;
}

.ant-carousel .slick-next:hover {
  opacity: 1;
  color: #ffffff;
  background-color: transparent;
}

.ant-carousel .slick-prev {
  opacity: 1;
  color: #ffffff;
  font-size: 18px;
  background-color: transparent;
  z-index: 2;
  display: flex !important;
  align-items: center;
  justify-content: center;
  line-height: 1;
  top: 50% !important;
  transform: translateY(-50%);
}

.ant-carousel .slick-prev:before {
  font-size: 18px;
  line-height: 1;
}

.ant-carousel .slick-prev:hover {
  opacity: 1;
  color: #ffffff;
  background-color: transparent;
}
